.app{
  /* background-color: blue; */
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 30px;
  background-image: radial-gradient(white,pink);
  box-shadow: 2px 2px 20px rgb(0, 0, 0);
}
h2{
  text-align: center;

}
button{
  background-color: #fff;
  border:1px solid #000;
  outline: none;
  width: 20%;
  padding: .3em;
  margin-left: 1em ;
}
h2{
  text-align: center;
  font-family: 'Times New Roman',Times,serif;
  margin: 1em 0;
}